.App {
  text-align: center;
  /* background-color: rgb(142, 230, 235); */
  /* display: flex; */
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(60deg, #d13e3e, #2bd7b5, #c960bb);
}

*{
  margin: 0px;
}

.main-content{
  font-family:sans-serif;
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
}

::placeholder {
  text-align: center; 
}

input{
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 5px;
}
label{
  text-align: left;
  padding: 10px;
}
.task-done{
  width: 400px;
  height: 40px;
  border-radius: 15px;
  background-color: blueviolet;
}

.switcher{
  text-decoration: underline;
}